@import "../../../sass/variables.scss";

.header{
    width:100%;
    padding:8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    &__translate{
        display: flex;
        img{
            height:24px;
            margin-left:4px;
            cursor: pointer;
        }
    }
    .active{
        border: 1px solid $grey-2;
        border-radius: 50%;
        box-shadow: 0px 0px 6px $grey-2;
        box-sizing: border-box;
    }
}