@import "../../../sass/variables.scss";

.notfound {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:calc(50% - 24px);
    left: calc(50% - 25px);
    img{
        max-height: 48px;
    }
}
